[Unit]
Description = frp client
After = network.target syslog.target
Wants = network.target
# After=network-online.target syslog.target
# Wants=network-online.target

[Service]
Type = simple
ExecStart = /root/frp_0.61.1_linux_arm_hf/frpc -c /root/frp_0.61.1_linux_arm_hf/frpc.toml
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target

# 说明: https://gofrp.org/zh-cn/docs/setup/systemd/
